.product-card {
    background-color: white;
    border: 1px solid rgba(220, 223, 227, 1);
    border-radius: 12px;
    height: 442px;
    width: 350px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.product-image-container {
    background-color: rgba(248, 249, 251, 1);

    border-radius: 8px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid rgba(220, 223, 227, 0.6);
}

.product-card-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carousel-dots {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #ffffff;
    padding: 5px 8px;
    border-radius: 20px;
    border: 1px solid rgba(220, 223, 227, 0.8);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    z-index: 5;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #D0D5DD;
    transition: background-color 0.2s ease;
}

.dot.active {
    background-color: #FF5A3C;
}

.product-title {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    margin: 2px 0 2px 0;
}

.product-details-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product-details-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.4;
}

.product-details-label {
    color: rgba(152, 162, 179, 1);
    font-size: 14px;
    font-weight: 400;
}

.product-details-value {
    color: rgba(52, 64, 84, 1);
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

.product-actions {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.product-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
    box-sizing: border-box;
}

.btn-card-edit {
    color: rgba(52, 64, 84, 1) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.btn-publish-toggle {
    flex: 1.4;
    border: none;
    color: white;
}

.btn-publish-toggle.published {
    background: linear-gradient(180deg, #52D407 13.75%, #37C100 135%);

}

.btn-publish-toggle.published:hover {
    background: linear-gradient(180deg, #52D407 13.75%, #37C100 135%);

}

.btn-publish-toggle.unpublished {
    background: linear-gradient(180deg, #000FB4 13.75%, #4050FF 135%);
}

.btn-publish-toggle.unpublished:hover {
    background: linear-gradient(180deg, #000FB4 13.75%, #4050FF 135%);
}

.btn-card-edit {
    flex: 1;
    background-color: white;
    border: 1px solid rgba(220, 223, 227, 1);
    color: rgba(52, 64, 84, 1);
}

.btn-card-edit:hover {
    background-color: #fafbfc;
    border-color: rgba(17, 22, 82, 0.4);
}

.btn-card-delete {
    width: 32px;
    background-color: white;
    border: 1px solid rgba(212, 212, 212, 1);
    color: rgba(152, 162, 179, 1);

}

.btn-card-delete:hover {
    background-color: white;
    border-color: rgba(17, 22, 82, 0.4);
}